{% extends 'base.html' %} 
{% load static i18n %} 
{% block title %}
{% trans 'Movie' %}: {{ object.title }}
{% endblock %} 
{% block content %}
<h3>{{ object.title }}</h3>
<div class="row">
  <div class="col-sm-12">
    <dl class="dl-horizontal">
        <dt>{{ object.year }}</dt>
        <dd>{{ object.rated }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>{{ object.released_on }}</dt>
        <dd>{{ object.genre }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>{{ object.director }}</dt>
        <dd>{{ object.plot }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
